    @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
    @import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
    body {
        margin: 0 auto;
        padding: 0;
        background-color: rgb(124, 221, 228);
    }
    
    header {
        background-color: rgb(255, 255, 255);
        width: 90%;
        height: auto;
        margin: 0 auto;
        margin-top: 20px;
        ;
    }
    
    header img {
        width: 200px;
        height: 90px;
        
    }
    
    li {
        list-style: none;
    }
    
    a {
        color: rgb(32, 30, 30);
        text-decoration: none;
        font-size: 2rem;
        font-style: italic;
    }
    
    a:hover {
        color: rgb(124, 221, 228);
    }
    
    .navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav-menu {
        display: none;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        width: 100%;
    }
    
    .nav-menu.show {
        display: flex;
    }
    
    .hamburger {
        font-size: 40px;
        margin-right: 10px;
        border: 0;
        background-color: rgb(124, 221, 228);
        display: block;
        cursor: pointer;
    }
    
    .aboutButique {
        width: 90%;
        height: auto;
        margin: 0 auto;
    }
    
    .howItWorks {
        text-align: center;
    }
    
    .allItems img {
        width: 310px;
        height: 430px;
        border: 10px solid rgb(255, 252, 252, 0.6);
    }
    
    .getItems {
        width: 90%;
        height: auto;
        margin: 0 auto;
        text-align: center;
    }
    
    .form input {
        width: 310px;
        padding: 5px;
        margin: 5px;
        text-align: center;
        border-radius: 5px;
    }
    
 .editform{
     display:none;
     text-align: left;
     
 }
 .editform input{
    width: 310px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
 }
    
    @media screen and (min-width: 768px) {
        .navbar {
            flex-wrap: nowrap;
        }
        .nav-menu {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: center;
            margin-right: 10px;
        }
        .hamburger {
            display: none;
        }
        #items {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
        .form {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
     
    }
    
    @media screen and (min-width: 1024px) {
        .howItWorks {
            display: flex;
            gap: 20px;
        }
        #items {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
        }
    }